# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略 Go 编译生成的二进制文件
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# 忽略构建输出目录
/bin/
/build/
/dist/

# 忽略缓存和依赖文件
vendor/
/go.sum
/go.work

# 忽略 go build 生成的文件
/tmp/
*.o
*.a

# 忽略测试生成的文件
/coverage.out

# 忽略 go tool 编译缓存目录
/go-build/

# 忽略临时文件
*.swp
*.tmp
*.log

# 忽略编辑器或 IDE 生成的文件
*.sublime-workspace
*.sublime-project
*.iml
.idea/
/.vscode/